head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  title Doodl
section.container
  #toolbar
    img(src='doodlLogo.png' ,='' alt='' style='width:70px;height:70px')
    label(for='stroke') Colour
    input#stroke(name='stroke' type='color')
    label(for='lineWidth') Line Width
    input#lineWidth(name='lineWidth' type='number' value='5' min='1' max='100')
    button#fill Fill
    button#line Line
    button#rectangle Rectangle
    button#circle Circle
    button#clear Clear
    button#submit(onclick="document.location='gallery.html'") Submit
    devlabel#RGBVal RGBVal
  .myDoodl
    canvas#myDoodl
script(src='main.js')
