<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Doodl</title>
    </head>
    <body>
        <section class="container">
            <div id="toolbar">
                <img src = "doodlLogo.png", alt "Doodl", style="width:70px;height:70px">
                <label for="stroke">Colour</label>
                <input id="stroke" name='stroke' type="color">
                <label for="lineWidth">Line Width</label>
                <input id="lineWidth" name='lineWidth' type="number" value="5" min="1" max="100">
                <button id="fill">Fill</button>
                <button id="line">Line</button>
                <button id="rectangle">Rectangle</button>
                <button id="circle">Circle</button>
                <button id="clear">Clear</button>
                <button id="submit" onclick="document.location='gallery'">Submit</button>
                <DevLabel id="RGBVal">RGBVal</DevLabel>
            </div>
            <div class="myDoodl">
                <canvas id="myDoodl"></canvas>
            </div>
        </section>
        <script src="main.js"></script>
    </body>
</html>
