<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Doodl</title>
    </head>
    <body>
        <form action="/doodlPage" method="POST">
            <section class="container">
                <div id="toolbar">
                    <img src = "/images/doodlLogo.png" alt="Doodl" style="width:70px;height:70px"></img>
                    <label for="stroke" class="toolbarText">Colour</label>
                    <input id="stroke" name='stroke' type="color"></input>
                    <label for="lineWidth" class="toolbarText">Line Width</label>
                    <input id="lineWidth" name='lineWidth' type="number" value="5" min="1" max="100"></input>
                    <button type="button" id="fill" class="toolbarIcon" style="background: #1565c0 url(/images/fill.png);background-size: cover;"></button>
                    <button type="button" id="line" class="toolbarIcon" style="background: #1565c0 url(/images/line.png);background-size: cover;"></button>
                    <button type="button" id="rectangle" class="toolbarIcon" style="background: #1565c0 url(/images/rectangle.png);background-size: cover;"></button>
                    <button type="button" id="circle" class="toolbarIcon" style="background: #1565c0 url(/images/circle.png);background-size: cover;"></button>
                    <button type="button" id="clear" class="toolbarIcon" style="background: #1565c0 url(/images/clear.png);background-size: cover;"></button>
                    <button type="submit" id="submit" class="toolbarIcon"  style="background: #1565c0 url(/images/submit.png);background-size: cover;"></button>
                    <input id="hiddenCanvasValue" name="hiddenCanvasValue" type="hidden" value=""></input>
                    <DevLabel id="RGBVal" class="toolbarText">RGBVal</DevLabel>
                </div>
                <div class="myDoodl">
                        <canvas type="input" id="myDoodlCanvas"></canvas>
                </div>
                <div id="dailyWord"> Today's topic: <%= currentPrompt %></div>
            </form>
            <div id="generalTools" style="margin-right: 0; margin-left: auto;">
                <form action="/logout" method="get">
                    <button type="submit" id="logoutButton" >
                        <img src="/images/logout.png" height="50px" width="50px">
                    </button>
                </form>
                <form action="/account" method="get">
                    <button type="submit" id="accountButton" >
                        <img src="/images/account.png" height="50px" width="50px">
                    </button>
                </form>
                <form>
                    <button type="button" id="settingsButton" onclick="openSettings()">
                        <img src="/images/settings.png" height="50px" width="50px">
                    </button>
                </form>
                <form action="/gallery" method="get">
                    <button type="submit" id="exitButton" >
                        <img src="/images/gallery.png" height="50px" width="50px">
                    </button>
                </form>
                <div id="settingsBG">
                    <div id="settingsMain">
                        <p id="settingsTitle">
                            Settings
                        </p>
                        <div id="closeSettings" title="Close Settings" onclick="closeSettings()">
                            <p>
                                X
                            </p>
                        </div>
                        <div>
                            <label class="switch">
                                <input type="checkbox" id="checked" onclick="checked()">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div id="settingsSliderContainer">
                            <input type="range" min="1" max="100" value="50" class="settingsSlider" id="sizeSlider">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            var settingsDiv = document.getElementById("settingsBG");
            function openSettings(){
                settingsDiv.style.display = "block";
            }
            function closeSettings(){
                settingsDiv.style.display = "none";
            }
            function checked(){
                settingsDiv.style.display = "none";
            }
        </script>
        <script src="/js/main.js"></script>
    </body>
</html>
