<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
    </head>
    <body>
        <div style="text-align: center">
            <h1>Today's Top Drawings</h1>
            <div id="dailyWord"> Today's topic: <%= currentPrompt %></div>
        </div>
        <input type="text" id="doodlData"> <% doodlData %></input>
        <script src="/js/gallery.js"></script>
    </body>
    <body style="background-color: #f67570;"></body>
</html>
