<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
    </head>
    <body>
        <div style="text-align: center">
            <h1 id="galleryHeader">Today's Top Drawings</h1>
            <div id="dailyWord"> Today's topic: <%= currentPrompt %></div>
        </div>
        <input type="hidden" id="doodlData" ></input>
        <script type="text/javascript"> 
            document.getElementById("doodlData").value = '<%- doodlData %>';
        </script>  
        <script src="/js/gallery.js"></script>
        <div id="generalTools" style="margin-right: 0; margin-left: auto;">
            <form action="/logout" method="get">
                <button type="submit" id="logoutButton" class="generalIcons" title="Logout" >
                    <img src="/images/logout.png" height="50px" width="50px">
                </button>
            </form>
            <form action="/account" method="get">
                <button type="submit" id="accountButton" class="generalIcons" title="Account" >
                    <img src="/images/account.png" height="50px" width="50px">
                </button>
            </form>
            <form>
                <button type="button" id="settingsButton" class="generalIcons" onclick="openSettings()" title="Settings">
                    <img src="/images/settings.png" height="50px" width="50px">
                </button>
            </form>
            <div id="settingsBG"  style="z-index: 1;">
                <div id="settingsMain">
                    <p id="settingsTitle">
                        Settings
                    </p>
                    <div id="closeSettings" title="Close Settings" onclick="closeSettings()">
                        <p>
                            X
                        </p>
                    </div>
                    <div id="settingsSliderContainer">
                        <label id="settingsToolText">Toolbar Size</label>
                        <input type="range" min="1" max="100" value="50" class="settingsSlider" id="sizeSlider">
                    </div>
                    <label id="settingsBkgText">Background Colour</label>
                    <select onchange="selectBackground()" id="selecterBackground">
                        <option value="orange">Orange</option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                        <option value="misc">Misc</option>
                    </select>
                </div>
            </div>
            <script type="text/javascript">
                var settingsDiv = document.getElementById("settingsBG");
                function openSettings(){
                    settingsDiv.style.display = "block";
                }
                function closeSettings(){
                    settingsDiv.style.display = "none";
                }
                function checked(){
                    settingsDiv.style.display = "none";
                }
            </script>
        </div>
    </body>
    <body style="background-color: #f67570;"></body>
</html>
