<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
        <h3><%= testString %></h3>
        <div class="header">
            <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px"></img>
        </div>
        <div class="buttonPos">
            <button id="signin" class="button" onclick="document.location='login'">Sign In</button>
                <div class="divider"></div>
            <button id="register" class="button" onclick="document.location='register'">Register</button>
                <div class="divider"></div>
            <button id="guest" class="button" onclick="document.location='doodlPage'">Continue As Guest</button>
        </div>
    </body>
    <body style="background-color: #f67570;"></body>
</html>