<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
        <div class="header">
            <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px"></img>
        </div>
        <div class="buttonPos">
            <button id="signin" class="button" onclick="document.location='login'">Sign In</button>
                <div class="divider"></div>
            <button id="register" class="button" onclick="document.location='register'">Register</button>
                <div class="divider"></div>
            <button id="guest" class="button" onclick="document.location='doodlPageGuest'">Continue As Guest</button>
        </div>
        <div id="generalTools" style="margin-right: 0; margin-left: auto;">
            <form>
                <button type="button" id="settingsButton" class="generalIcons" onclick="openSettings()" title="Settings">
                    <img src="/images/settings.png" height="50px" width="50px">
                </button>
            </form>
            <div id="settingsBG">
                <div id="settingsMain">
                    <p id="settingsTitle">
                        Settings
                    </p>
                    <div id="closeSettings" title="Close Settings" onclick="closeSettings()">
                        <p>
                            X
                        </p>
                    </div>
                    <label id="settingsBkgText">Background Colour</label>
                    <select onchange="selectBackground()" id="selecterBackground">
                        <option value="orange">Orange</option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                        <option value="misc">Misc</option>
                    </select>
                </div>
            </div>
            <script type="text/javascript">
                var settingsDiv = document.getElementById("settingsBG");
                function openSettings(){
                    settingsDiv.style.display = "block";
                }
                function closeSettings(){
                    settingsDiv.style.display = "none";
                }
                function checked(){
                    settingsDiv.style.display = "none";
                }
            </script>
            <script type="text/javascript">
                function selectBackground()
                {
                    let settingsSelect = document.getElementById('selecterBackground');
                    var bkgCol = "#f67570";
                    var btnCol = "#1565c0";
                    let txtCol = "#ededed";
                    switch(settingsSelect.selectedIndex)
                    {
                        case 0:
                            bkgCol = "#f67570";
                            btnCol = "#1565c0";
                            txtCol = "#ededed";
                            break;
                        case 1:
                            bkgCol = "#171717";
                            btnCol = "#ededed";
                            txtCol = "#171717";
                            break;
                        case 2:
                            bkgCol = "#ededed";
                            btnCol = "#171717";
                            txtCol = "#ededed";
                            break;
                        case 3:
                            bkgCol = "#1565c0";
                            btnCol = "#f67570";
                            txtCol = "#ededed";
                            break;
                    }
                    document.body.style.backgroundColor = bkgCol;
                    //document.body.style.color = txtCol;
                    
                    let indexButtons = document.getElementsByClassName('button');

                    for(var i = 0; i < indexButtons.length; i++)
                    {
                        indexButtons[i].style.backgroundColor = btnCol;
                        indexButtons[i].style.color = txtCol;
                    }

                    document.getElementById('generalTools').style.backgroundColor = bkgCol;
                    let genTools = document.getElementsByClassName("generalIcons");
                    for(var i = 0; i < genTools.length; i++)
                    {
                        genTools[i].style.backgroundColor = bkgCol;
                    }
                }
            </script>
        </div>
    </body>
    <body style="background-color: #f67570;"></body>
</html>