<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
               <div class="header">
                <a href="index.ejs"><img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px"></a>
            </div>
        <div class="buttonPos" id="userInput" style="display: grid; text-align: right;">
            <form> User Name : <input type="text" name="UserName"> </form>
                <div class="divider"></div>
            <form> Password : <input type="text" name="Password"> </form>
                <div class="divider"></div>
            <button id="login" class="button">Login</button>
        </div>
        <script src="/js/login.js"></script>
    </body>
    <body style="background-color: #f67570;"></body>
</html>