<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
        <div class="header">
            <% if (messages) { %>
            <p><%= messages.error %></p>
            <% } %>
            <a href="/">
                <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px">
            </a>
        </div>
        <div class="buttonPos" id="userInput" style="display: grid; text-align: center;">
            <!--<form> User Name : <input type="text" name="UserName"> </form>
                <div class="divider"></div>
            <form> Password : <input type="text" name="Password"> </form>
                <div class="divider"></div>-->
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="johndoe@gmail.com" size="25" /><br><br>
                <input type="password" name="password" placeholder="* * * * * *" size="25" /><br>
                <button id="login" class="button">Login</button>
            </form>
            
        </div>
        <script src="/js/login.js"></script>
        <script type="text/javascript">
            try {
                let bkgTemp = sessionStorage.getItem('backColorOption');
                //console.log(bkgTemp);
                selectBackground();
            } catch (error) {
                console.log(error);
                //console.log("no bkgCol stored.");
            }

            function selectBackground()
            {
                let settingsSelect = parseInt(sessionStorage.getItem('backColorOption'));
                var bkgCol = "#f67570";
                var btnCol = "#1565c0";
                let txtCol = "#ededed";
                switch(settingsSelect)
                {
                    case 0:
                        bkgCol = "#f67570";
                        btnCol = "#1565c0";
                        txtCol = "#ededed";
                        break;
                    case 1:
                        bkgCol = "#171717";
                        btnCol = "#ededed";
                        txtCol = "#171717";
                        break;
                    case 2:
                        bkgCol = "#ededed";
                        btnCol = "#171717";
                        txtCol = "#ededed";
                        break;
                    case 3:
                        bkgCol = "#1565c0";
                        btnCol = "#f67570";
                        txtCol = "#ededed";
                        break;
                }
                document.body.style.backgroundColor = bkgCol;
                //document.body.style.color = txtCol;
                
                let indexButtons = document.getElementsByClassName('button');

                for(var i = 0; i < indexButtons.length; i++)
                {
                    indexButtons[i].style.backgroundColor = btnCol;
                    indexButtons[i].style.color = txtCol;
                }

                document.getElementById('generalTools').style.backgroundColor = bkgCol;
                let genTools = document.getElementsByClassName("generalIcons");
                for(var i = 0; i < genTools.length; i++)
                {
                    genTools[i].style.backgroundColor = bkgCol;
                }
            }
        </script>
    </body>
    <body style="background-color: #f67570;"></body>
    <script type="text/javascript">
        selectBackground();
    </script>
</html>