<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
        <div class="header">
            <% if (messages) { %>
            <p><%= messages.error %></p>
            <% } %>
            <a href="/">
                <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px">
            </a>
        </div>
        <div class="buttonPos" id="userInput" style="display: grid; text-align: center;">
            <!--<form> User Name : <input type="text" name="UserName"> </form>
                <div class="divider"></div>
            <form> Password : <input type="text" name="Password"> </form>
                <div class="divider"></div>-->
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="johndoe@gmail.com" size="25" /><br><br>
                <input type="password" name="password" placeholder="* * * * * *" size="25" /><br>
                <button id="login" class="button">Login</button>
            </form>
            
        </div>
        <script src="/js/login.js"></script>
    </body>
    <body style="background-color: #f67570;"></body>
</html>