<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Doodl</title>
    </head>
    <body>
        <style>
            .header {
                font-size: 50px;
                font-family: Trebuchet MS, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
            }
            .button {
                background-color: #1565c0;
                border: none;
                border-radius: 8px;
                color: white;
                padding: 12px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                margin: 40px 20px;
                cursor: pointer;
                font-family: Trebuchet MS, sans-serif
            }
            .header img{
                padding-top: 200px;
                width: 100%;
                height: 100%;
            }
            .divider{
                width:5px;
                height:5px;
                display:inline-block;
            }
            .buttonPos{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 250px;
            }
            div{
                margin-top: 7px;
                margin-bottom: 7px;
            }
            </style>
               <div class="header">
                <img src = "/images/doodlLogo.png" alt="Doodl" style="width:360px;height:360px"></img>
            </div>
        <div class="buttonPos" id="userInput" style="display: grid; text-align: right;">
            <form> User Name : <input type="text" name="UserName"> </form>
                <div class="divider"></div>
            <form> Password : <input type="text" name="Password"> </form>
                <div class="divider"></div>
            <button id="login" class="button">Login</button>
        </div>
        <script src="/js/login.js"></script>
    </body>
    <body style="background-color: #f67570;"></body>
</html>