<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
    <div class="header">
        <% if (messages) { %>
        <p><%= messages.error %></p>
        <% } %>
        <a href="/">
        <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px">
        </a> 
    </div>
    <div class="buttonPos" id="userInput" style="display: grid; text-align: center;">
        <div class="divider"></div>      
        <form action="/register" method="POST">
            <input type="name" id="name" name="name" placeholder="Username" size="25" /><br><br>
            <input type="email" id="email" name="email" placeholder="johndoe@gmail.com" size="25" /><br><br>
            <input type="password" id="password" name="password" placeholder="password" size="25" pattern=".{3,}" title="Password must be at least 3 or more characters"/><br><br>
            <div>
                <label id="privacyLabel" for="privacy">By pressing register you confirm you agree with our  </label>
                <a target="_blank" href = "/gdprPage" >Privacy Policy</a>
            </div>
            <!--
            <div>
                <input type="checkbox" id="privacy" name="privacy">
                <label for="privacy">I have read and accept the </label>
                <a target="_blank" href = "/gdprPage" >Privacy policy</a>
            </div> 
            -->
            <button id="register" class="button">Register</button>
            <script src="/js/register.js"></script>
            <script type="text/javascript">
                try {
                    let bkgTemp = sessionStorage.getItem('backColorOption');
                    //console.log(bkgTemp);
                    selectBackground();
                } catch (error) {
                    console.log(error);
                    //console.log("no bkgCol stored.");
                }
    
                function selectBackground()
                {
                    let settingsSelect = parseInt(sessionStorage.getItem('backColorOption'));
                    var bkgCol = "#f67570";
                    var btnCol = "#1565c0";
                    let txtCol = "#ededed";
                    switch(settingsSelect)
                    {
                        case 0:
                            bkgCol = "#f67570";
                            btnCol = "#1565c0";
                            txtCol = "#ededed";
                            break;
                        case 1:
                            bkgCol = "#171717";
                            btnCol = "#ededed";
                            txtCol = "#171717";
                            break;
                        case 2:
                            bkgCol = "#ededed";
                            btnCol = "#171717";
                            txtCol = "#ededed";
                            break;
                        case 3:
                            bkgCol = "#1565c0";
                            btnCol = "#f67570";
                            txtCol = "#ededed";
                            break;
                    }
                    document.body.style.backgroundColor = bkgCol;
                    //document.body.style.color = txtCol;
                    
                    let indexButtons = document.getElementsByClassName('button');
    
                    for(var i = 0; i < indexButtons.length; i++)
                    {
                        indexButtons[i].style.backgroundColor = btnCol;
                        indexButtons[i].style.color = txtCol;
                    }
    
                    document.getElementById('generalTools').style.backgroundColor = bkgCol;
                    let genTools = document.getElementsByClassName("generalIcons");
                    for(var i = 0; i < genTools.length; i++)
                    {
                        genTools[i].style.backgroundColor = bkgCol;
                    }

                    document.getElementById('privacyLabel').color = txtCol;
                }
            </script>
        </form>
    </div>
    </body>
    <body style="background-color: #f67570;"></body>
    <script type="text/javascript">
        selectBackground();
    </script>
</html>