<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <title>Doodl</title>
    </head>
    <body>
         <div class="header" style="height:120px">
            <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px"></img>
        </div>
        <div class="buttonPos" id="userInput" style="display: grid;">
            <h3>Reason for report:</h3>
            <form action="/submitReport" method="post">
                <input id="doodlID" name="doodlID" type="hidden" value=""></input>
                <textarea id="report" name="report" rows="10" cols="50" placeholder="Please describe the issue..."></textarea>
                <button id="submit" type="submit">Submit Report</button>
                <script type="text/javascript">  
                    document.getElementById("doodlID").value = '<%- doodlID %>'
                </script>
            </form>
        </div>
    </body>
    <body style="background-color: #f67570;"></body>
    <script type="text/javascript">
        try {
            let bkgTemp = sessionStorage.getItem('backColorOption');
            //console.log(bkgTemp);
            selectBackground();
        } catch (error) {
            console.log(error);
            //console.log("no bkgCol stored.");
        }

        function selectBackground() {
            let settingsSelect = parseInt(sessionStorage.getItem('backColorOption'));
            var bkgCol = "#f67570";
            var btnCol = "#1565c0";
            let txtCol = "#ededed";
            switch (settingsSelect) {
                case 0:
                    bkgCol = "#f67570";
                    btnCol = "#1565c0";
                    txtCol = "#171717";
                    break;
                case 1:
                    bkgCol = "#171717";
                    btnCol = "#ededed";
                    txtCol = "#ededed";
                    break;
                case 2:
                    bkgCol = "#ededed";
                    btnCol = "#171717";
                    txtCol = "#171717";
                    break;
                case 3:
                    bkgCol = "#1565c0";
                    btnCol = "#f67570";
                    txtCol = "#171717";
                    break;
            }
            document.body.style.backgroundColor = bkgCol;
            //document.body.style.color = txtCol;

            document.getElementById('reportHeader').style.color = txtCol;
        }
    </script>
</html>