<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/generic.css">
        <script src="https://use.fontawesome.com/fe459689b4.js"></script>
        
        <title>Doodl</title>
    </head>
    <body>
        <div class="header" style="height:120px">
            <img src = "/images/doodlLogo.png" alt="Doodl" style="width:120px;height:120px"></img>
        </div>
        <div class="buttonPos" id="userInput" style="display: grid;">
            <h3>What do you think of this image?</h3>
            <img src = "/images/test.png" alt="userImg" style="width:350px;height:350px"></img>
        </div>
        <div style="text-align: center;"><button class="btn" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
            <button class="btn" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
        </div>
        
        
    </body>
    <body style="background-color: #f67570;"></body>
    <script src="/js/voting.js"></script>
</html>