body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  color: white;
  background-color: #f67570;
}

canvas{
  position: absolute;
  border: 10px solid #f67570;
}

.container {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70px;
  background-color: #f67570;
}

#toolbar * {
  margin-bottom: 6px;
}

#toolbar label {
  font-size: 12px;
}

#toolbar DevLabel {
  font-size: 10px;
  background-color: #f67570;
  color:white;
}

#toolbar input {
  width: 100%;
}

#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 2px;
}

#settingsBG{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  display: none;
}

#settingsMain{
  position: fixed;
  width: 600px;
  height: 360px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -60px;
}

#closeSettings{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

#closeSettings p{
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

#settingsTitle{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: lightsteelblue;
  padding-top: 10px;
  padding-top: 10px;
  margin-top: 0px;
  border-bottom: 2px solid black;
}

#settingsButton{
  position: absolute;
  top: 20px;
  left: 1600px;
}